body {
    background-color: black;
    height: 0;
    width: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-image: url('../imagens/fundoTreis.jpg');
    height: 100%;
    width: 100%;
    background-size: auto;
}


/*header {
    /*height: 200px;
    width: 200px;
}
*/


/************** Animação ******************/

.typing-animation {
    animation: animacao 500ms steps(40) infinite normal, typing 4s steps(40) 1s normal both;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 17em;
    }
}

@keyframes animacao {
    form {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}

.line {
    border-right: 2px solid rgba(255, 255, 255, .75);
    color: rgb(240, 234, 234);
    white-space: nowrap;
    word-spacing: 3px;
    overflow: hidden;
}


/**************** Imagem de perfil **********/

img {
    border-radius: 50%;
}

.perfil {
    margin: 10px;
    padding: 20px;
    height: 200px;
    width: 200px;
}

p {
    color: white;
    word-wrap: break-word;
    font-size: 3em;
}

.marcador {
    border: 2px solid red;
}

.animacao {
    animation: animacao-nome 500ms steps(40) infinite normal, typing 4s steps(40) 1s normal both;
}


/******** Texto ***********/

.texto {
    font-size: 1.4rem;
    padding: 20px 0px 0px 0px;
}


/******** Sobre ***********/

h2 {
    color: white;
    text-align: center;
}


/******** Contato **************/

h5 {
    color: blanchedalmond;
    padding: 10px;
}

.contato {
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 3em;
}

.contato2 {
    text-decoration: none;
    font-size: 0.5em;
}

.contato2 a {
    color: white;
}

.contato2 a:hover {
    color: #1c99e2bd;
}

.contato li {
    padding: 10px;
    list-style: none;
}

.contato p {
    font-size: 0.8em;
}


/****** Curso ******************/

.curso {
    text-align: center;
    color: white;
    padding: 20px;
}

.curso h6 {
    padding: 10px;
}


/****** Conteudo ***************/

h3 {
    color: white;
    font-size: 3em;
}

.resumo {
    padding: 20px 0px 20px 0px;
    font-size: 2em;
    text-shadow: black;
}

.resumo b {
    font-style: italic;
    color: #99b3ff;
    text-decoration: underline;
}


/******* Rodapé ***************/

.sobre span {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}


/******* formatação de texto *****************/

.formatacao {
    padding: 40px 15px 40px 15px;
    font-size: 2em;
    text-align: justify;
    text-align-last: center;
}


/******* formatação de texto *****************/

footer {
    background: #000;
    padding: 10px 0px 20px 0px;
    position: relative;
}

footer h4 {
    color: white;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a {
    color: white;
    font-size: 00.8em;
}

footer .navbar-nav a:hover {
    color: #9bf0e1;
    text-decoration: none;
}

navbar-nav footer {
    padding: 30px 0px 30px 0px;
}